<div class="card card-body pt-4 pb-4">
    <button type="button" id="playButton" class="btn btn-success">PLAY</button>
</div>

<script>

    let csrftoken = getCookie('csrftoken');

    document.getElementById('playButton').addEventListener('click', function() {
    fetch('http://0.0.0.0:8000/users/addGame', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({username: '{{ request.user.username }}'}),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
        // Aquí puedes manejar los datos de la respuesta de la API
    })
    .catch((error) => {
        console.error('Error:', error);
        // Aquí puedes manejar los errores de la solicitud
    });
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
 
</script>