<div class="card card-body pt-4 pb-4">
    <button type="button" id="playButton" class="btn btn-success">PLAY</button>
</div>

<script>

    document.getElementById('playButton').addEventListener('click', function() {
    fetch('http://0.0.0.0:8000/users/addGame', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        }
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
        // Aquí puedes manejar los datos de la respuesta de la API
    })
    .catch((error) => {
        console.error('Error:', error);
        // Aquí puedes manejar los errores de la solicitud
    });
});
 
</script>