<div class="card card-body pt-4 pb-4">
    <button type="button" id="playButton" class="btn btn-success">PLAY</button>
    <div id="game-area" class="mt-4">
        <div id="ball"></div>
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        const ball = document.getElementById('ball');
        const gameArea = document.getElementById('game-area');
        console.log('Path:', window.location.pathname);
    
        const roomName = window.location.pathname.split('/').slice(-2, -1)[0];
    
        // Log the room name
        console.log('Room name:', roomName);
        // Log the splitted path
        console.log('Splitted path:', window.location.pathname.split('/'));
        // Log the sliced path
        console.log('Sliced path:', window.location.pathname.split('/').slice(-2, -1));
        // Log the websocket URL
        console.log('Websocket URL:', 'ws://' + window.location.host + '/ws/game2/' + roomName + '/');
    
        const socket = new WebSocket('ws://' + window.location.host + '/ws/game2/' + roomName + '/');
    
        socket.onmessage = function(e) {
            console.log('Message:', e.data);
            const data = JSON.parse(e.data);
            console.log('Data:', data);
            console.log('X:', data.x);
            console.log('Y:', data.y);
            ball.style.left = data.x + 'px';
            ball.style.top = data.y + 'px';
        };
    });

    let csrftoken = getCookie('csrftoken');

    document.getElementById('playButton').addEventListener('click', function() {
        fetch('http://0.0.0.0:8000/users/addGame', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                player1: '{{ request.user.id }}',
                player2: '',
                winner: '{{ request.user.id }}',
                date: '2021-06-01',
                duration: 10,
                player1_score: 7,
                player2_score: 0}),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
