<div class="container">
	<div class="row", style="font-family: Dosis">
		<div class="col-sm-12 col-md-8">
			<h4 class="display-2">Sign Up</h4>
		</div>
		<div class="col-sm-12 col-md-4"></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class='jumbotron'>
                <center>
                    <div class="text-left" style"max-width:500px">
                        <form id="mySignUpForm" onsubmit="submitSignUp(event);return false;">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class='form-group'>
                                        <label for="{{ field.name }}">{{ field.label }}</label>
                                        {{ field }}
                                </div>
                            {% endfor %}
                            <br>
                            <center><button type="submit" class="btn btn-success btn-lg">Sign Up</button></center>
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
