
{% extends "base.html" %}

{% block content %}


{% if request.user.username == username and request.user.is_authenticated %}

<div class="container pt-4 pb-4">
    <div class="row", style="font-family: Dosis">
        <div class="col-sm-12 col-md-8">
			{% comment %} <div class="bordered-div">
                <button type="button" id="playButton" class="btn btn-success">PLAY</button>
            </div> {% endcomment %}
            <div id="game-area">
                <div id="ball" style="width: 20px; height: 20px; background-color: red; position: absolute;"></div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const ball = document.getElementById('ball');
                    const gameArea = document.getElementById('game-area');
                    console.log('Path:', window.location.pathname);
        
                    const roomName = window.location.pathname.split('/').slice(-2, -1)[0];
        
                    // Log the room name
                    console.log('Room name:', roomName);
                    // Log the splitted path
                    console.log('Splitted path:', window.location.pathname.split('/'));
                    // Log the sliced path
                    console.log('Sliced path:', window.location.pathname.split('/').slice(-2, -1));
                    // Log the websocket URL
                    console.log('Websocket URL:', 'ws://' + window.location.host + '/ws/game2/' + roomName + '/');
        
                    const socket = new WebSocket('ws://' + window.location.host + '/ws/game2/' + roomName + '/');
        
                    socket.onmessage = function(e) {
                        console.log('Message:', e.data);
                        const data = JSON.parse(e.data);
                        console.log('Data:', data);
                        console.log('X:', data.x);
                        console.log('Y:', data.y);
                        ball.style.left = data.x + 'px';
                        ball.style.top = data.y + 'px';
                    };
                });
            </script>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User statistics</h5>
                    <p class="card-text">Username: {{ request.user.username }}</p>
                    <p class="card-text">Wins: {{ request.user.gamesWon }}</p>
                    <p class="card-text">Losses: {{ request.user.gamesLost }}</p>
                    <p class="card-text">Goals: {{ request.user.goals }}</p>
                    <p class="card-text">Score: {{ request.user.score }}</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
document.getElementById('playButton').addEventListener('click', function() {
    fetch('http://0.0.0.0:8000/users/addGame', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        }
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
        // Aquí puedes manejar los datos de la respuesta de la API
    })
    .catch((error) => {
        console.error('Error:', error);
        // Aquí puedes manejar los errores de la solicitud
    });
});


</script>

{% else %}
	<p> No hagas trampa y logeate acaravan </p>
{% endif %}

{% endblock %}	
