<div class="col-12">
    <div class="card card-body pt-4 pb-4">
        <h5 class="card-title">Statistics</h5>
        <hr>
        <div class="row", style="font-family: Dosis">
            <div class="col">
                <h6>Games Won</h6>
                <p id="gamesWon"></p>
            </div>
            <div class="col">
                <h6>Games Lost</h6>
                <p id="gamesLost"></p>
            </div>
            <div class="col">
                <h6>Goals</h6>
                <p id="goals"></p>
            </div>
            <div class="col">
                <h6>Score</h6>
                {% comment %} <p id="score"></p> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<script>
    console.log("statistics script tag");

    const username = '{{ request.user.username }}';
    const endpoints = {
        gamesWon: `/users/statistics/gamesWon/${username}`,
        gamesLost: `/users/statistics/gamesLost/${username}`,
        goals: `/users/statistics/goals/${username}`,
    };

    for (const [key, url] of Object.entries(endpoints)) {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                document.getElementById(key).textContent = data;
            })
            .catch(error => console.error('Error fetching data:', error));
    }
</script>
