{% load static %}

<div class="container pb-4">
    <div class="row title-padding" style="font-family: Dosis">
        <div class="col-md-8 col-12">
            <p class="responsive-text-large">ft<br>transcendence</p>
            <p class="responsive-text-small">by acaravan, digarcia, mortega-, alaguila and enevado</p>
        </div>
        <div class="col-md-4 d-none d-md-block">
            <img src="{% static 'images/pong.gif' %}" class="rounded-image image-center" alt="pong">
        </div>
    </div>
</div>
