{% load static %}

<div class="container">
    <div class="row top-buffer" style="font-family: Dosis">
        <div class="col-12">
            <div class="card card-body pt-4 pb-4">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">{{ leaderboards_text }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-hover" id="leaderboardTable">
                            <thead>
                                <tr>
                                    <th scope="col">{{ rank_text }}</th>
                                    <th scope="col">{{ username_text }}</th>
                                    <th scope="col">{{ score_text }}</th>
                                </tr>
                            </thead>
                            <tbody id="leaderboard"></tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>

<script src="{% static 'js/leaderboards.js' %}"></script>