{% load static %}
<style>
#vsIA {
  background-image: url("/static/images/vsIA.webp");
  height: 300px;
  width: 30%;
  background-size: cover;
  border: solid 3px green;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
#vsPlayer {
  background-image: url("/static/images/vsPlayer.webp");
  height: 300px;
  width: 30%;
  background-size: cover;
  border: solid 3px green;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
#tournament {
  background-image: url("/static/images/tournament.webp");
  height: 300px;
  width: 30%;
  background-size: cover;
  border: solid 3px green;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

</style>
    <div class="container">
        <div class="row top-buffer" style="font-family: Dosis">
            <div class="col-12">
                <div class="card card-body pt-4 pb-4">
			<center>
			<div id="playMenu" class="in-line">
				<button type="button" id="vsIA" class="btn">
				<span style="color:white; font-size:25px">vsIA</span>
				</button>
				<button type="button" id="vsPlayer" class="btn" href="/users/">
				<span style="color:white; font-size:25px">vsPlayer</span>
				</button>
				<button type="button" id="tournament" class="btn">
				<span style="color:white; font-size:25px">Tournament</span>
				</button>
			</div>
		    </center>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'js/menu.js' %}"></script>
