{% load static %}

    <div class="container">
        <div class="row top-buffer" style="font-family: Dosis">
            <div class="col-12">
		<div class="col-sm-12">
			<h3 class="display-2">{{ vsPlayer_text }}</h3>
		</div>
                <div class="card card-body pt-4 pb-4">
			<center>
			<div id="modeMenu" class="in-line">
				<button type="button" id="local" class="btn btn-danger" style="width:30%;margin-left:1.5%;margin-right:1.5%">
				<span style="color:white; font-size:25px">{{ local_text }}</span>
				</button>
				<button type="button" id="remote" class="btn btn-success" style="width:30%;margin-left:1.5%;margin-right:1.5%">
				<span style="color:white; font-size:25px">{{ online_text }}</span>
				</button>
			</div>
		    </center>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'js/modeMenu.js' %}"></script>
