{% load static %}
<style>
#vsIA {
  background-image: url("/static/images/vsIA.jpeg");
  height: 200px;
  width: 30%;
  background-size: cover;
  border: solid 2px red;
  margin-left: 1%;
  margin-right: 1%;
}
#vsPlayer {
  background-image: url("/static/images/vsPlayer.webp");
  height: 200px;
  width: 30%;
  background-size: cover;
  border: solid 2px red;
  margin-left: 1%;
  margin-right: 1%;
}
#vsIA {
  background-image: url("/static/images/vsIA.jpeg");
  height: 200px;
  width: 30%;
  background-size: cover;
  border: solid 2px red;
  margin-left: 5%;
  margin-right: 5%;
}

</style>
    <div class="container">
        <div class="row top-buffer" style="font-family: Dosis">
            <div class="col-12">
                <div class="card card-body pt-4 pb-4">
			<div id="playMenu" class="in-line">
				<button type="button" id="vsIA" class="btn btn-success"></button>
				<button type="button" id="vsPlayer" class="btn btn-success">VS Player</button>
				<button type="button" id="tournament" class="btn btn-success">Tournament</button>
			</div>
                </div>
            </div>
        </div>
    </div>

