{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container" style="font-family: Dosis">
        <a class="navbar-brand fs-3" id="brand" href="/users/home/">ft_transcendence</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link cmon active fs-5" href="/users/play/">Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cmon fs-5" href="/users/leaderboards/">Leaderboards</a>
                </li>
                <li class="nav-item">
                    <div style="width: 50px; height: 50px; margin-left: 30px;">
                        <a class="btn btn-primary btn-image" id="navbar-avatar" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    /* Custom styles for the collapsible menu */
    .navbar-nav {
        background-color: #343a40; /* Dark background color */
        padding: 10px;
    }
    /* Ensure the collapse menu stretches full width */
    .navbar-collapse {
        justify-content: flex-end; /* Align the menu to the right */
    }
</style>