{% load static %}

<div class="container scrollable mb-3">
    <center>
        <p id="avatar" class="pb-2"></p>
        <p id="username"></p>
    </center>
</div>

<div class="container col-12 mb-5" style="font-family: Dosis">
    <div class="card card-body pt-4 pb-4">
    <h3 class="card-title responsive-text-medium">My profile</h3>
    <hr>
    <span id="email"></span>
    <span id="first_name"></span>
    <span id="last_name"></span>
    <span id="last_login"></span>
    <span id="date_joined"></span>

    <span id="avatar_2"></span>

    <div class="in-line">
	    <button type="button" class="btn btn-primary">
		    <a class="nav-link cmon" id="edit_profile" href="/users/editProfile/">Edit Profile</a>
	    </button>
	    <button type="button" class="btn btn-primary">
		    <a class="nav-link cmon" id="change_password" href="/users/changePassword/">Change Password</a>
	    </button>

	    <button id="choose_avatar" type="button" class="btn btn-primary">Choose your avatar</button>
    </div>
    <form onsubmit="updateAvatar();return false;">
	    {% csrf_token %}
	    <div id="avatarDiv" class="form-group">
	    </div>
    </form>
</div>

{% include "statistics.html" %}

<script src="{% static 'js/profile.js' %}"></script>
