{% load static %}

<div class="container mb-3">
	<div class="row", style="font-family: Dosis">
		<center>
			<div class="col-sm-12">
				<h4 class="display-2">Welcome!</h4>
			</div>
		</center>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class='jumbotron'>
				<center>
					<div class="text-left" style="max-width:500px">
						<form id="mySignInForm" onsubmit="submitSignIn();return false;">
							{% csrf_token %}
							{% for field in form %}
							<div class='form-group'>
								<label for="{{ field.id_for_label }}">{{ field.label }}</label>
								{{ field }}
							</div>
							{% endfor %}
							<br>
							<center><button type="submit" class="btn btn-success btn-lg">Sign In</button></center>
						</form>
						{% if form %}
							<br>
							<p>If you do not have an account, fulfill your registration here:</p>
							<a class="nav-link" href="/users/signUp/" onclick="redirectSignUp(event);">Sign Up</a>
						{% endif %}
					</div>
				</center>
			</div>
		</div>
	</div>
</div>
